.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-backgrounds-gray);
}
.home-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

}
.home-heading {
  font-size: 50px;
}
.home-nav {
  display: flex;
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-link {
  text-decoration: none;
}
.home-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-main {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-max-width01 {
  flex-direction: row;
  justify-content: flex-start;
}
.home-image-container {
  width: auto;
  margin-right: var(--dl-space-space-threeunits);
}
.home-image {
  width: 449px;
  height: 522px;
  object-fit: cover;
}
.home-content-container {
  flex: 1;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: var(--dl-color-grays-gray100);
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  padding-left: var(--dl-space-space-unit);
}
.home-max-width02 {
  flex-direction: row;
  justify-content: flex-start;
}
.home-image-container1 {
  flex: 1;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.home-image1 {
  width: auto;
  height: 392px;
  object-fit: cover;
}
.home-content-container1 {
  flex: 1;
  display: flex;
  max-width: 446px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text01 {
  margin-bottom: 24px;
}
.home-text02 {
  color: var(--dl-color-grays-gray100);
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}
.home-gan {
  width: auto;
  height: auto;
}
.home-max-width03 {
  width: auto;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
}
.home-content-container2 {
  flex: 1;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.home-text03 {
  font-size: 42px;
  margin-bottom: 24px;
}
.home-text04 {
  color: var(--dl-color-grays-gray100);
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}
.home-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image2 {
  width: 604px;
  height: 278px;
  object-fit: cover;
}
.home-dyfuzja {
  width: auto;
}
.home-max-width04 {
  flex-direction: row;
  justify-content: space-between;
}
.home-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image3 {
  width: 559px;
  height: 407px;
  object-fit: cover;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.home-content-container3 {
  flex: 1;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.home-text07 {
  margin-bottom: 24px;
}
.home-text08 {
  color: var(--dl-color-grays-gray100);
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}
.home-text09 {
  line-height: 1.3;
}
.home-text10 {
  line-height: 1.3;
}
.home-obawy {
  width: auto;
  height: auto;
}
.home-max-width05 {
  width: 100%;
  align-items: stretch;
}
.home-content-container4 {
  flex: 1;
  width: 100%;
  display: flex;
  min-width: auto;
  align-items: flex-start;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text12 {
  width: auto;
  font-size: 52px;
  margin-bottom: 42px;
}
.home-features-container {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-feature {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: auto;
}
.home-text13 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-unit);
}
.home-feature1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: auto;
}
.home-text14 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-unit);
}
.home-feature2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: auto;
}
.home-text15 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-unit);
}
.home-max-width06 {
  flex-direction: column;
}
.home-text16 {
  font-size: 42px;
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text17 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-card {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  max-width: 285px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-icon06 {
  width: 75px;
  height: 75px;
}
.home-text18 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text19 {
  color: var(--dl-color-grays-gray100);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-card1 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  max-width: 285px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-icon08 {
  width: 75px;
  height: 75px;
}
.home-text20 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text21 {
  color: var(--dl-color-grays-gray100);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-card2 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  max-width: 285px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-icon10 {
  width: 75px;
  height: 75px;
}
.home-text22 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text23 {
  color: var(--dl-color-grays-gray100);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-card3 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  max-width: 285px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-icon12 {
  width: 75px;
  height: 75px;
}
.home-text24 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text25 {
  color: var(--dl-color-grays-gray100);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-konsekwencje {
  padding-bottom: 0px;
}
.home-max-width07 {
  flex-direction: column;
}
.home-text26 {
  font-size: 42px;
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-slider {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  transition: 0.5s;
  align-items: stretch;
  flex-direction: row;
}
.home-slide {
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.home-max-width08 {
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.home-left-side {
  width: 519px;
  display: flex;
  align-items: stretch;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-image-container2 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.home-image4 {
  width: 582px;
  height: 518px;
  object-fit: cover;
}
.home-right-side {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-testimonial {
  color: var(--dl-color-grays-gray100);
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 42px;
}
.home-czynniki {
  height: auto;
  width: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.home-text35 {
  width: 100%;
  height: auto;
  font-size: 42px;
  align-self: center;
  text-align: left;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-max-width09 {
  height: auto;
  align-items: stretch;
  justify-content: center;
}
.home-content-container5 {
  flex: 1;
  height: auto;
  display: flex;
  min-width: 50%;
  align-items: flex-start;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-features-container1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-feature3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.home-icon14 {
  width: var(--dl-size-size-xsmall);
  height: auto;
}
.home-text36 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-unit);
}
.home-feature4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.home-icon16 {
  width: var(--dl-size-size-xsmall);
  height: auto;
}
.home-text37 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-unit);
}
.home-feature5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.home-icon18 {
  width: var(--dl-size-size-xsmall);
  height: auto;
}
.home-text38 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-unit);
}
.home-image-container3 {
  flex: 1;
  width: 0px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 642px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-max-width10 {
  flex-direction: column;
}
.home-text39 {
  font-size: 42px;
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text40 {
  align-self: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-cards-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-card4 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  max-width: 285px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-icon20 {
  width: 75px;
  height: 75px;
}
.home-text41 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text42 {
  color: var(--dl-color-grays-gray100);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-card5 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  max-width: 285px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-icon22 {
  width: 75px;
  height: 75px;
}
.home-text43 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text46 {
  color: var(--dl-color-grays-gray100);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-card6 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  max-width: 285px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-icon24 {
  width: 75px;
  height: 75px;
}
.home-text47 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text48 {
  color: var(--dl-color-grays-gray100);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-max-width11 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-heading-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text49 {
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-container03 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-grid-card {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  padding: 36px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon26 {
  width: 100px;
  height: 100px;
  margin-right: var(--dl-space-space-twounits);
}
.home-container05 {
  flex: 0 0 auto;
  width: 339px;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: space-between;
  flex-direction: column;
}
.home-container06 {
  width: 339px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text51 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text52 {
  align-self: flex-end;
}
.home-grid-card1 {
  flex: 0 0 auto;
  width: auto;
  height: 245px;
  display: flex;
  padding: 36px;
  align-items: center;
  justify-content: center;
}
.home-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon28 {
  width: 107px;
  height: 99px;
  margin-right: var(--dl-space-space-twounits);
}
.home-container08 {
  flex: 0 0 auto;
  width: 339px;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: space-between;
  flex-direction: column;
}
.home-container09 {
  width: 339px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text53 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text54 {
  align-self: flex-end;
}
.home-max-width12 {
  flex-direction: row;
  justify-content: flex-start;
}
.home-image-container4 {
  width: 612px;
  position: relative;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.home-image5 {
  width: 577px;
  height: 617px;
  object-fit: cover;
  padding-top: var(--dl-space-space-halfunit);
}
.home-content-container6 {
  flex: 1;
  display: flex;
  max-width: 446px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text55 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text56 {
  color: var(--dl-color-grays-gray100);
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}
.home-copyright {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-max-width13 {
  align-items: stretch;
  justify-content: flex-end;
}
.home-text59 {
  color: var(--dl-color-grays-gray100);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
}
@media(max-width: 1600px) {
  .home-testimonial {
    color: var(--dl-color-grays-gray100);
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
  }
  .home-grid-card {
    background-color: transparent;
  }
  .home-grid-card1 {
    background-color: transparent;
  }
}
@media(max-width: 991px) {
  .home-content-container {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-content-container1 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text01 {
    width: 100%;
  }
  .home-content-container2 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text03 {
    width: 100%;
  }
  .home-content-container3 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text07 {
    width: 100%;
  }
  .home-max-width05 {
    flex-direction: column;
  }
  .home-content-container4 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text12 {
    width: 100%;
  }
  .home-left-side {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-max-width09 {
    flex-direction: column;
  }
  .home-content-container5 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-content-container6 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text55 {
    width: 100%;
  }
  .home-max-width13 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-nav {
    display: none;
  }
  .home-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .home-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-max-width01 {
    flex-direction: column;
  }
  .home-image-container {
    width: auto;
    margin-right: 0px;
  }
  .home-content-container {
    max-width: 100%;
  }
  .home-max-width02 {
    flex-direction: column;
  }
  .home-image-container1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content-container1 {
    max-width: 100%;
  }
  .home-max-width03 {
    flex-direction: column-reverse;
  }
  .home-content-container2 {
    max-width: 100%;
  }
  .home-max-width04 {
    flex-direction: column;
  }
  .home-content-container3 {
    max-width: 100%;
  }
  .home-text16 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-cards-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .home-card {
    width: 50%;
  }
  .home-card1 {
    width: 50%;
  }
  .home-card2 {
    width: 50%;
  }
  .home-card3 {
    width: 50%;
  }
  .home-text26 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-max-width08 {
    flex-direction: column;
  }
  .home-left-side {
    width: 100%;
    padding-right: 0px;
  }
  .home-image4 {
    max-width: 700px;
  }
  .home-right-side {
    width: 100%;
  }
  .home-text35 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text39 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-cards-container1 {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .home-card4 {
    width: 50%;
  }
  .home-card5 {
    width: 50%;
  }
  .home-card6 {
    width: 50%;
  }
  .home-text49 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-max-width12 {
    flex-direction: column;
  }
  .home-image-container4 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content-container6 {
    max-width: 100%;
  }
}
@media(max-width: 479px) {
  .home-nav {
    display: flex;
  }
  .home-intro {
    width: 60%;
  }
  .home-max-width01 {
    width: 100%;
    max-width: auto;
  }
  .home-image {
    width: 100%;
    height: 100%;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-content-container {
    width: auto;
    max-width: auto;
    min-width: auto;
  }
  .home-text {
    color: var(--dl-color-grays-gray100);
    width: auto;
    line-height: 1.3;
  }
  .home-historia {
    width: 60%;
  }
  .home-image1 {
    width: 100%;
    height: 100%;
  }
  .home-text01 {
    width: 100%;
  }
  .home-text02 {
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
  }
  .home-gan {
    width: 60%;
    height: 100%;
  }
  .home-max-width03 {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  .home-image2 {
    width: 100%;
    height: 100%;
  }
  .home-dyfuzja {
    width: 60%;
  }
  .home-image3 {
    width: 100%;
    height: auto;
  }
  .home-obawy {
    width: 60%;
  }
  .home-icon02 {
    width: 30px;
    height: auto;
  }
  .home-icon04 {
    width: 30px;
    height: auto;
  }
  .home-krytyka {
    width: 60%;
  }
  .home-cards-container {
    justify-content: center;
  }
  .home-card {
    width: 100%;
  }
  .home-card1 {
    width: 100%;
  }
  .home-card2 {
    width: 100%;
  }
  .home-card3 {
    width: 100%;
  }
  .home-konsekwencje {
    width: 60%;
  }
  .home-image4 {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  .home-testimonial {
    color: var(--dl-color-grays-gray100);
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
  }
  .home-czynniki {
    width: 60%;
  }
  .home-text36 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .home-korzysci {
    width: 60%;
  }
  .home-cards-container1 {
    justify-content: center;
  }
  .home-card4 {
    width: 100%;
  }
  .home-card5 {
    width: 100%;
  }
  .home-card6 {
    width: 100%;
  }
  .home-oczekiwania {
    width: 60%;
  }
  .home-heading-container {
    width: 100%;
    height: 100%;
  }
  .home-container03 {
    flex-direction: column;
  }
  .home-grid-card {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .home-container04 {
    width: auto;
    height: auto;
  }
  .home-container05 {
    width: 70%;
    height: 100%;
  }
  .home-text52 {
    width: 100%;
    height: 100%;
  }
  .home-grid-card1 {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .home-container07 {
    width: auto;
    height: auto;
  }
  .home-icon28 {
    width: 100px;
    height: 100px;
  }
  .home-container08 {
    width: 70%;
    height: 100%;
  }
  .home-text53 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
  }
  .home-text54 {
    width: 100%;
    height: 100%;
  }
  .home-przyszlosc {
    width: 60%;
  }
  .home-image5 {
    width: 100%;
    height: 100%;
  }

}
